.baidu-mts-page {
    width: 100%;
    text-align: left;
    display: flex;
    .left-part {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .tree-selection {
            width: 70%
        }

        .util-area {
            top: 0;
        }
    }
    .right-part {
        width: 60%;

        path.link {
            fill: none;
            stroke: #2593B8;
            stroke-width: 1.5px;
        }
    }
}