body {
  min-height: 100vh;
}

.App {
  text-align: center;
}

.draggable-container {
  width: 100%;
  height: 100%
}

.net-box-page {
  height: 100%;
}

.covered {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.drop-tooltip {
  background-color: rgba(0, 64, 255, 0.3);
  transition: all 300ms ease-in-out;
  z-index: 10000;
}
.drop-tooltip.faded {
  background-color: transparent;
}
.drop-tooltip.hidden {
  z-index: -1;
}

.net-box-page .box-file-table-cell {
  color: #777
}